<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>We have been developing web-apps for a long time.
    However We have never yet published a website for community usage.
    This is our 1st ever effort at bringing international gamers closer.
    We do this by presenting our website which is a combination of a forum and a blog for multiple top rated multiplayer games.
    Hope u like our efforts but our main concern is you.
    If there is some irrelevant content or a feature that does not work as intended or any other feedback or suggestions
    please feel free to contact us on emails provided below.Please requesting you to not spam it for we actually do receive it into our personal emails.
    Thank you once more for joining us and hope we make your experience the best we can possible deliver. :D</p>
</div>
<body style="background-color: lawngreen;">
<h2 style="text-align:center">ADMIN CONTACT</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Joyston Lewis</h2>
        <p class="title">Developer</p>
        <p>Who am I? The following defines me:</p>
        <p><li>Hardcore Gamer</li>
           <li>Software and Web-App Developer</li>
           <li>Optimum Maintenance of any Operating Systems</li>
        </p>
        <p>joyston2010@gmail.com</p>
        <div class="button p-2"><a href="mailto: joyston2010@gmail.com">Contact Me</a></div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jidnyasa Sutar</h2>
        <p class="title">Designer</p>
        <p>Who am I? The following defines me:</p>
        <p><li>Web-App Designer</li>
           <li>Java Application Developer</li>
           <li>Nature Explorer</li>
        </p>
        <p>jidnyasagsutar2309@gmail.com</p>
        <div class="button p-2"><a href="mailto: jidnyasagsutar2309@gmail.com">Contact Me</a></div>
      </div>
    </div>
  </div>
</div>
</body>
